<template name="User_Header">
  <!--<link rel = "stylesheet" type = "text/css" href = "user-header.css">-->
  <div class="ui top fixed borderless inverted menu gradient heightsix">

    <div class="ui container">
      <div class="item"><h1>VENDY AWARDS</h1></div>
      <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "Profile_Page" username=routeUserName}}">Nomination Page</a>
      <a class="{{isActiveRoute "Voting_Page"}} item" href="{{pathFor "Voting_Page" username=routeUserName}}">Voting Page</a>
      <a class="{{isActiveRoute "Contest_Winners_Page"}} item" href="{{pathFor "Contest_Winner_Page" username=routeUserName}}">Contest Winners Page</a>
      <a class="{{isActiveRoute "Map_Page"}} item" href="{{pathFor "Map_Page" username=routeUserName}}">Map Page</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>
