<template name="User_Header">
  <!--<link rel = "stylesheet" type = "text/css" href = "user-header.css">-->
  <div class="ui top fixed borderless inverted menu gradient heightsix">

    <div class="ui container">
      <div class="item"><h1>VENDY AWARDS</h1></div>
      <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "profile" username=routeUserName}}">Nomination</a>
      <a class="{{isActiveRoute "Filter_Page"}} item" href="{{pathFor "voting" username=routeUserName}}">Voting</a>
      <a class="{{isActiveRoute "Contest_Winners_Page"}} item" href="{{pathFor "winner" username=routeUserName}}">Contest Winners</a>
      <a class="{{isActiveRoute "Map_Page"}} item" href="{{pathFor "map" username=routeUserName}}">Map</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>
