<template name="Directory_Profile">


  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
        {{ profile.first }}
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          {{ profile.second }}
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          {{ profile.third }}
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          {{ profile.fourth }}
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          {{ profile.fifth }}
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          Snickers
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          Starbursts
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          Apples
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          Spam Musubis
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          Sun Chips
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          Hi Chews
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>

  <div class="ui centered card">
    <div class="content">
      <div class="header">
        <center>
          Teriyaki Beef Jerky
        </center>
      </div>
    </div>
    <button class="ui toggle button">Vote</button>
  </div>


  <script>
    $('.ui.button.toggle').state();

  function show(b){
    alert( $(b).hasClass("active"));
  }

  // attach ready event
  $(document)
      .ready(function() {
        var $toggle  = $('.ui.toggle.button');
        $toggle
            .state({
              text: {
                inactive : 'Vote',
                active   : 'Voted'
              }
            })
        ;

      })
  ;
 </script>

</template>